body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 0px 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
}

main {
  padding: 20px;
}

.blog-post article {
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
}

/* logo image */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.tag {
  display: inline;
  font-size: 18px;
  padding: 3px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.tag:hover {
  background-color: rgba(236, 240, 241, 0.4);
}

footer {
  color: #000000;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links a,
.generic-links a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}

.social-links a:hover,
.generic-links a:hover {
  color: #0b9cb8;
}

.social-links a i {
  font-size: 20px;
}

.generic-links {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.generic-links a {
  font-size: 14px;
  margin: 0 10px;
}
